.order-summary-container {
  position: sticky;
  top: 5vh;
  font-size: 1.2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.empty-message {
  text-align: center;
  margin-top: 5vh;
}

/* .each-product {
  width: 50%;
} */

@media screen and (max-width: 860px) {
  .cart-products {
    width: 50vw;
  }
  .each-product {
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 576px) {
  .each-product,
  .order-summary-container {
    width: 70vw;
    margin: auto;
  }
}

/* .cart-table {
  width: 95vw;
  margin: 5vh auto;
} */

/* .each-item {
  height: 20%;
}

.img-container {
  width: 10%;
  height: 20%;
}

.item-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */
/* 
.item-name {
  width: 30%;
}

.quantity-data Button {
  margin: 0vh 2vw;
}

.empty-message {
  width: 50vw;
  text-align: center;
  margin: 10vh auto;
}

.cart-bottom {
  width: 20vw;
  margin-left: 80vw;
}

@media screen and (max-width: 720px) {
  .cart-table {
    width: 100vw;
    margin: 5vh auto;
  }
  .item-name {
    width: 10%;
  }

  .product-total {
    width: 10%;
  }
  .quantity-data Button {
    margin: 0;
  }
} */
