/* .categories-container {
  width: 100vw;
} */

.categories-list {
  display: flex;
  margin: auto;
  list-style-type: none;
  justify-content: space-evenly;
}

/* @media screen and (max-width: 620px) {
  .categories-list {
    width: 100vw;
  }
} */
