.navigation-container {
  display: flex;
  justify-content: space-around;
  color: white;
}

.brand-name {
  font-size: 2rem;
  color: white;
}

.brand-name:hover {
  cursor: pointer;
  font-size: 2rem;
  color: white;
}
